form.signup,
form.login {
  margin-top: 50px;
}


body {
  background-image: url("Sky-High.jpg");
}

#inlineFormCustomSelect {
  margin-bottom: 30px;
}

#selection {
	margin-top: 10px;
  margin-bottom: 30px;
  padding:6px;
	text-align: center;
	height: 35px;
	background-color: black;
	font-weight: bold;
	color: white;
}