form.signup,
form.login {
  margin-top: 50px;
}


body {
  background-image: url("Sky-High.jpg");
}

 #inLineFormCustomSelect{
  margin-left: 45px;	
  margin-bottom: 36px;
}

#say {
	margin-left: 45px;
}

#entertainment {
	margin-left: 85px;
}

#history {
	margin-left: 30px;
	margin-right: 30px;
}

#submit {
	margin-left: 10px;
}
